@import '../../index.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 15px 0;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    list-style: none;
    margin-right: 10px;
    border: 1px solid var(--theme-default-header);
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    a{
      font-size: 16px;
      color: var(--theme-default-header);
      &:hover{
        color: rgba(var(--theme-default-header), .5);
      }
    }
  }
}