@import '../../index.scss';

.characters {
  h1 {
    @include header-title;
  }
  &__search{
    position: absolute;
    top: 20px;
    width: 100px;
  }
}

@media screen and (max-width: 650px) {
    .characters__search{
      top: 70px !important;
    }
}
