@import '../../index.scss';

.modal {
  &__box{
    filter: var(--theme-default-filter);
  }
  &__info {
    padding-left: 10px;
    h2 {
      font-family: var(--font-text);
      color: var(--theme-light-header);
      padding-bottom: 20px;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
