@import '../../index.scss';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    margin-bottom: 80px;
    text-align: center;
    h1 {
      @include header-title;
      margin-bottom: 15px;
    }
    span {
      color: var(--theme-default-header);
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .harryImg {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 120px;
    height: 175px;
    object-fit: cover;
    object-position: center center;
  }
  .harryOnBroomImg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 255px;
    height: 170px;
    object-fit: cover;
  }
  &__btn {
    position: absolute !important;
    bottom: 25%;
    transition: 3s;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      opacity: 0;
      z-index: -1;
      animation: shimmy 3s infinite;
      animation-direction: alternate;
    }
    &:hover {
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background: url('../../assets/dumbledore.png');
        background-size: 30px;
        background-repeat: no-repeat;
        top: -46px;
        right: -20px;
        opacity: 1;
      }
      box-shadow: 0 0 10px #fff, 0 0 30px rgba(#77b2ff, 0.7);
    }
    .start {
      background-color: #f2f2f2;
      width: 100px;
      height: 40px;
      &:hover{
        background-color: #f2f2f2;
      }
    }
  }
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(0, 10px);
  }
}