.header {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 40px;
  .mobileMenu{
    display: none;
  }
  &__nav {
    margin-right: 20px !important;
    li {
      a {
        text-decoration: none;
        cursor: pointer;
        font-family: var(--font-text);
        color: var(--theme-default-header);
        &:hover {
          color: rgba(var(--theme-default-header), 0.5);
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .mobileMenu{
    display: block !important;
  }
  .header__nav{
    display: none !important;
  }
}