@import '../../index.scss';

.students {
  h1 {
    @include header-title;
  }
  &__option{
    display: flex;
    position: absolute;
    top: 20px;
    .search{
      margin-right: 50px;
    }
    .back {
      display: flex;
      height: 25px;
      margin-top: 8px;
      margin-right: 50px;
      .backIcon {
        padding-right: 10px;
        width: 25px;
        height: 25px;
      }
      p {
        padding-top: 4px;
        color: var(--theme-default-header);
        font-family: var(--font-text);
        letter-spacing: 2px;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .students__option{
    display: block;
  }
  .back{
    margin-bottom: 20px !important;
  }
}