.app__container {
  position: relative;
  background: var(--theme-default-container);
  height: calc(100vh - 100px);
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px #cfcfcf;
  overflow: auto;
}
