* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: var(--theme-default-background)
}

:root {
  --font-header: 'CheshirskiyCat';
  --font-text: 'Sirona';

  --theme-light-header: #41276e;
  --theme-dark-header: #c6d4dd;
  --theme-default-header: var(--theme-light-header);

  --theme-light-background: white;
  --theme-dark-background: rgba(0, 0, 0, 0.95);
  --theme-default-background: var(--theme-light-background);

  --theme-light-container: #f2f2f2;
  --theme-dark-container: rgba(47, 47, 47, 0.95);
  --theme-default-container: var(--theme-light-container);

  --theme-light-filter: brightness(100%);
  --theme-dark-filter: brightness(80%);
  --theme-default-filter: var(--theme-light-filter);
}

@mixin header-title {
  font-family: var(--font-header);
  font-size: 40px;
  text-shadow: 0 0 10px #fff, 0 3px 11px #ffff00;
  text-align: center;
}

@font-face {
  font-family: 'CheshirskiyCat';
  src: url('./fonts/CheshirskiyCat.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Sirona';
  src: url('./fonts/sirona.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
