* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --font-header: 'CheshirskiyCat';
  --font-text: 'Sirona';

  --color-text: #41276e;
}

@mixin header-title {
  font-family: var(--font-header);
  font-size: 40px;
  text-shadow: 0 0 10px #fff, 0 3px 11px #ffff00;
  text-align: center;
}

@font-face {
  font-family: 'CheshirskiyCat';
  src: url('./fonts/CheshirskiyCat.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Sirona';
  src: url('./fonts/sirona.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
